<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Metadata</title>
    <!-- Use Open Source Bulma CSS Template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" href="{% static 'images/nasa_favicon2.ico' %}">
</head>

<body class="Site">
	<!-- Section for title. -->
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <h1 class="title">
                        <a href="/"> NASA Image Metadata </a>
                    </h1>
                    <div class="column is-offset-7">
                        <h2 class="subtitle">
                            <a href="/index"> New search </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section for displaying the image. -->
    <section class="section">
    	<div class="container">
    		<div class="columns">
    			<div class="column">
    				<!-- image -->
    				<figure>
                        <object data="{{ image.media_link }}" type="image/jpg" alt="Image {{ image.media_link }}">
                        </object>
                    </figure>
    			</div>
                <div class="column">
                    <!-- metadata -->
                    <div class="content">
                        <p>
                            <span class="title">{{ image.title }}</span>
                            <br>
                            <span class="subtitle">{{ image.date_created }}</span>
                            <br> 
                            {{ image.description }}
                            <br>
                            {% if location in image %}   
                                Location: {{ image.location }}
                            {% endif %}    
                            <br>
                            Link to image: <a href="{{image.media_link}}"> {{image.media_link}} </a>
                        </p>
                        <i class="fab fa-twitter"></i>
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{image.media_link}}" data-size="large"> Tweet</a>
                    </div>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{image.media_link}}" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
    		</div>
    	</div>
    </section>

	<footer class="footer">
        <div class="content has-text-centered">
            <p>
                Developed by Eric Lin
                <br>
                Images from NASA Image API. Open source Bulma styling
                <br>
                March 2019  
            </p>            
      </div>
    </footer>
</body>


