<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA Image Search</title>
    <!-- Use Open Source Bulma CSS Template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" href="{% static 'images/nasa_favicon2.ico' %}">
</head>

<body class="Site">
    <!-- Section for title. -->
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-4">
                    <div class="container">
                        <h1 class="title">
                            <a href="/"> NASA Image API Search </a>
                        </h1>
                    </div>
                </div>
                <div class="column is-2 is-offset-6">
                <figure class="image is-96x96">
                        <img src="{% static 'images/nasa_rounded.gif' %}" alt ="image">
                    </figure>   
                </div>
            </div>
        </div>
    </section>
    <!-- Section for searching and displaying past searches. -->
    <section class="section">
        <div class="container">
            <div class="columns is-mobile is-gapless">
                <div class="column is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.search_query }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="columns is-gapless">
                    <!-- Links to past searches. -->
                    <button class="button"> Past searches: </button>
                    {% for search in past_searches %}
                        <div class="column">
                            <form action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                <button name="past_submit" value="{{search}}" type="submit" class="button"> 
                                    {{search}}
                                </button>
                            </form>
                        </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
        <!-- Container to display number of search results. -->
        <div class="container">
            <div class="column is-4 is-mobile">
                <p>
                    {% if num_hits != 0 %} 
                        {{ num_hits }} search results for "{{q}}"
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
    <!-- Section to display images. -->
    <section class="section">
        <div class="container">
            <div class="columns is-multiline is-mobile is-variable">
                {% for image in metadata_list %}
                    <div class="column is-4">
                        <div class="box">
                            <figure>
                                <a href="{% url 'image_page' %}?id={{image.nasa_id}}"> 
                                    <object data="{{ image.media_link }}" type="image/jpg" alt="Image {{ image.media_link }}">
                                    </object>
                                </a>
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Developed by Eric Lin
                <br>
                Images from NASA Image API. Open source Bulma styling
                <br>
                March 2019  
            </p>            
      </div>
    </footer>
</body>

</html>