<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA Image Search</title>
    <!-- Use Open Source Bulma CSS Template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <!-- Section for title. -->
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    NASA Image API Search
                </h1>
            </div>
        </div>
    </section>
    <!-- Section for searching and displaying past searches. -->
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.search_query }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <!-- Links to past searches. -->
                    Past searches:
                    {% for search in past_searches %}
                        <a href = "./"> {{search}}</a>
                    {% endfor %} 
                </div>
            </div>
        </div>
        <!-- Container to display number of search results. -->
        <div class="container">
            <div class="column is-4">
                <p>
                    {% if num_hits != 0 %} 
                        {{ num_hits }} search results
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
    <!-- Section to display images. -->
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for image in metadata_list %}
                    <div class="column is-4">
                        <div class="box is-dark">
                            <figure>
                                <img src= {{ image.media_link }} alt="Media">
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>